*.DS_Store
*.pyc

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.coverage
htmlcov/

# VS Code
*.vscode/

# Jupyter
.ipynb_checkpoints
*.m~
*.asv
*.bak

# diff
diff/
data/~$residual_non_linearity.xlsx
